{% extends "base4.html.twig" %}

{% block title %}Debug Session{% endblock %}

{% block body %}
    <h1>Debug Session</h1>
    <pre>{{ sessionData|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
{% endblock %}