body {

  margin: 0 auto;
  max-width: 800px;
  background-color: rgb(246, 242, 242);
  font-size: 1.2em;

}

main {
margin-bottom: 400px;

}

ul {

  list-style-type: none;
  margin-top: 5%;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(44, 43, 43);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.item-1:hover {
  background-color: rgb(202, 164, 238);
  border-radius:80%;
}
.item-2:hover {
  background-color: rgb(151, 227, 225);
  border-radius:80%;
}

.item-3:hover {
  background-color: rgb(228, 197, 135);
  border-radius:80%;
}
.item-4:hover {
background-color: rgb(236, 164, 229);
border-radius:80%;
}


.footer {
  background-color: rgb(61, 61, 61);

}

.img1 {
  border-radius:40% 20% 40% 20%;
  width: 240px;
  height: auto;

}
.img2 {

  width: 200px;
  height: auto;
  margin-right: 50%;
  margin-left: 50%;
  margin-top: 10%;

}
.img5 {

  width: 150px;
  height: auto;
  margin-top: 10%;

}
.img4 {

width: 600px;
height: auto;
margin: auto;
margin-top: 10%;

}

.img3{
width: 400px;
margin-top: 20%;
}


a {text-decoration: none;
  color: black;

}

i{
  color:  rgb(185, 133, 233); ;
}


.die {
font-size: 3em;
}

.card {
font-size: 3em;
}

.flash {
padding: 10px;
margin-bottom: 20px;
border: 1px solid transparent;
border-radius: 4px;
color: #155724;
background-color: #d4edda;
border-color: #c3e6cb;
}

.heart, .diamond {
color: #9a2525;
}

.spades, .clover {
color: black;
}

.form button {
background-color: rgb(246, 170, 30);
}

.card.face-down {
color: gray;
}

.player {
margin-left:10%;
}

.button {
background-color: rgb(242, 192, 99);

}

.coin {
color: rgb(141, 35, 35);
}

.black {
margin-bottom: 400px;
background-color: rgb(183, 207, 150);
padding: 10%;


}

.bank {
margin-left: 40%;
}

.library {
background-color: rgb(251, 231, 164);
padding: 10%;
}

.home{
background-color: rgb(230, 203, 240);
padding: 10%;
}

.card-base{
background-color: rgb(175, 230, 230);
padding: 10%;
}

.api-main{
background-color: rgb(232, 199, 152);
padding: 10%;
}

.table thead {
background-color: #fefefd;
}

.table a.btn {
margin-right: 5px;
}

.table tbody tr {
margin-top: 10px;
}

.table td {
padding: 15px;
}

.body_proj {
  background-color: rgb(32, 2, 41);
  max-width: 800px;
  font-size: 1.5em;
  font-family: fantasy;
}


.main_proj {
  background-color: rgb(13, 102, 68);
  padding: 10%;
  border: 2px solid rgba(255, 217, 0, 0.738);
  border-radius: 10%;

}

.li_proj a{
  color: rgba(255, 217, 0, 0.519);
}

.li_proj {
  display: inline-block;
  position: relative;
  color: black;
  text-decoration: none;
}

.li_proj::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background: gold;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-out;
}

.li_proj:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.input_proj {
  background: rgba(188, 179, 129, 0.83);
  background-size: contain;
  padding: 5px;
  border-radius: 8px;
  font-family: fantasy;
}

.button_proj {
  background-color: rgba(255, 217, 0, 0.738);
  border-radius: 8px;
  padding: 4px;
  margin-left: 40%;
  margin-top: 30px;
  font-family: fantasy;
}
.button_proj1 {
  background-color: rgba(255, 217, 0, 0.738);
  border-radius: 8px;
  font-family: fantasy;
}
